<?xml version="1.0" encoding="utf-8"?>
<configuration debug="true">
    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}] - %msg%n</pattern>   
        </encoder>
    </appender>
    <!--<logger level="DEBUG" name="org.apache.http.wire"/>-->
    <logger level="DEBUG" name="org.eeichinger"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
